* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color:#A4E7F8;
  font-family: 'Montserrat', sans-serif;
}

.menu {
  position: fixed;
  width: 100%;
  top:0px;
}

.menu ul {
  display: flex;
  justify-content:space-around;
  background-color: #032A34;
}

.menu li {
  list-style: none;
}

.menu a {
  justify-content:block;
  display: block;
  border-radius: 8px;
  color: white;
  text-decoration: none;;
  padding: 10px 40px;
}

a:hover {
  text-decoration: underline;
}


body header div {
  background-color: #F2F2F2;
  margin: 80px auto;
  padding: 180px;
  border-radius: 8px;
  max-width:1300px;
}

.mathCadeira {
  display: flex;
  justify-content: center;
  padding: 80px auto;
}

.sobre {
  padding: 80px;
  display: flex;
  justify-content: space-between;
}

.title-vida-e-obra,
.sobre-title,
.sobre-text {
  text-align: center;
  padding-left: 100px;
}

.text-intro,
.obra-list,
.sobre-text{
  font-size: medium ;
  line-height:25px;
}

.vidaEObra{
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}



.vidaEObra div{
  padding-left: 50px;
}

.title-galeria{
  padding-top: 50px;
  text-align: center;
}

.galeria{
  display: grid;
  gap:30px;
  grid-template-columns: 440px  340px  440px ;
  justify-content: center;
}

.galeria figure {
  text-align: center;
}
.img-galeria {
  height: auto;
  width: 360px;
}

.depoimentos{
  padding-top: 50px;
}
.title-depoimentos {
  text-align: center;
}

.contato{
  padding-top: 50px;
}
.title-contato{
  text-align: center;
}

.dino,
.marilene,
.jarbas,
.mamaeDoMath,
.giovane,
.rapha,
.alan,
.casado {
  background-color: #F2F2F2;
  margin: 10px auto;
  padding: 80px;
  border-radius: 8px;
  max-width: 1000px;
}

.face,
.linkedin,
.insta{

  margin-right: 16px;
  display: flex;

  width: 258px;
  height: 258px;

}

.face {
  background-image: url('../assets/facebook.svg');
}

.linkedin {
  background-image: url('../assets/linkedin.svg');
}

.insta {
  background-image: url('../assets/instagram.svg');
}

.contato div{
  display: flex;
  justify-content: space-around;
}
.contato div {
  margin-top: 50px;
}

.emjel {
  display: flex;
  justify-content: center;
  background-color: #F2F2F2;
  margin: 50px auto;
  padding: 5px;
  border-radius: 8px;
  max-width: 1300px;
}