body{
    background:#E0E0E0;
    font-family:Arial;
  }
  
  .menu ul {
    display: flex;
    justify-content:space-around;
  }
  
  .menu li {
    list-style: none;
  }
  
  a {
    color: black;
    text-decoration: none;
  }
  
  .site-subtitle,
  .site-title {
    text-align: center;
  }
  